:root {
    --white: #ffff;
    --black: #000;
    --lightblue: #ADB9EE;
    --mediumblue: #97A4DD;
    --darkblue: #7585CB;
}

#heading-title {
    color: var(--white);
    background: var(--black);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 15px var(--darkblue), 0px 0px 17px var(--darkblue);
}

#search-bar-recents {
    color: var(--white);
    background: var(--lightblue);
    text-align: center;
    min-width: 220px;
    margin-right: 20px;
}

#forecast {
    color: var(--white);
    background: var(--mediumblue);
    text-align: center;
}